/*_____________MEDIA_____________*/

@media screen and (max-width: 991.98px){
	.menu {
		display: grid;
		width: 100%;
	}
	.ham-menu ul {
		-webkit-transform: translateY(-110%);
        transform: translateY(-110%);
		background-color: #000;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.ham-menu {
		top: 36px;
    	right: 43px;
	}
}

	/*_________CONTENT_________*/
@media screen and (max-width: 1199.98px) {
	.offer__img {
		max-width: 50%;
	}
}

@media screen and (max-width: 991.98px) {
	.offer__text{
		margin-bottom: 35px;
	}
	.offer__bg {
		height: 75vh;
	}
	.offer {
		padding: 60px 0 0 50px;	
	}
	.offer__img {
		max-width: 40%;
	}
	.story {
		padding-top: 25px;
		height: 92%;	
	}
	.story-offer__title {
		margin: 0 0 20px;
	}
	.skills {
		padding-top: 65px;
		height: 92%;
	}
	.skills-title__label {
		margin-bottom: 15px;
	}
	.skills-title__heading {
		font-size: 16px;
	}
	.skills-list {
		margin-top: 15px;
	}
	.btn__next {
		margin-top: 0;
		width: 225px;
		height: 50px;
	}
	.padding__btn {
		padding-bottom: 20px;
	}
}

@media (max-width: 767.98px) {
	.about {
		height: 92%;	
	}
	.offer {
		padding: 0;
	}
	.offer__bg {
		height: 100%;
	}
	.story {
		height: 92%;	
	}
	.skills {
		height: 92%;	
	}
	.slider {
		padding: 0px 40px;
	}
}

@media (max-width: 575.98px) {
	.poster {
		height: 250px;
	}
	.vh-dependent {
		height: 52vh;
		align-items: baseline;
	}
	.offer__bg {
		background: url(../img/bg__hero.jpg) no-repeat;
		position: inherit;
		width: 100%;
	}
	.offer__img {
		bottom: 10%;
		left: 50%;
	}
} 
